<!DOCTYPE html>
{% extends 'index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Products</title>
</head>
<body>
{% block content %}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Products</h4>
                  <p class="card-description">
                   Add Your Products here
                  </p>
                  <form class="forms-sample" action="{% url 'productsave' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                    <label>Category Name</label>
                    <select class="js-example-basic-single w-100 select2-hidden-accessible mb-3"
                            aria-hidden="true" name="CatName">
                      <option>Select Your Category</option>
                      {% for cat in category %}
                      <option>{{cat.NAME}}</option>
                      {% endfor %}
                    </select>
                    </div>
                    <div class="form-group mt-3">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name"
                             name="ProName">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Price</label>
                      <input type="number" class="form-control" id="exampleInputName1" placeholder="Product Price"
                             name="ProPrice">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">Product Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="ProDesc" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group">
                      <label>Upload Image</label>
                        <div class="input-group col-xs-12">
                            <input type="file" class="form-control file-upload-info" placeholder="Upload Image"
                                   name="ProImage">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'success' %}
<script>
  swal('{{i}}', '', 'success')
</script>
{% elif i.tags == 'warning' %}
<script>
  swal('{{i}}', '', 'warning')
</script>
{% elif i.tags == 'error' %}
<script>
  swal('{{i}}', '', 'error')
</script>
{% else %}
<script>
  swal('{{i}}', '', 'info')
</script>
{% endif %}
{% endfor %}
{% endif %}




{% endblock %}
</body>
</html>
