<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>
<div class="col-lg-10 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Category Details</h4>
                  <p class="card-description">
                   Update your Categories here..
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>NAME</th>
                          <th>DESCRIPTION</th>
                          <th>IMAGE</th>
                          <th>UPDATE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in category %}
                        <tr class="table-info">
                          <td>{{i.NAME}}</td>
                          <td>{{i.DESC}}</td>
                          <td>
                            <img src="{{i.IMAGE.url}}" alt="Image" style="height:80px;width:80px;">
                          </td>
                          <td>
                            <a href="{% url 'editcategory' catid=i.id %}">
                             <button type="submit" class="btn btn-primary mr-2">EDIT</button>
                            </a>
                            <a href="{% url 'deletecategory' catid=i.id %}">
                              <button class="btn btn-danger">DELETE</button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 {% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}', '', 'warning')
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}', '', 'error')
            </script>
        {% elif i.tags == 'success' %}
            <script>
                swal('{{i}}', '', 'success')
            </script>
        {% else %}
            <script>
              swal('{{i}}', '', 'info')
            </script>
        {% endif %}
    {% endfor %}
 {% endif %}

</body>
</html>
{% endblock %}